autopep8
Django==4.1.*
django-cors-headers
django-filter
django-url-filter
django-guardian
markdown
graphene-django
django-graphql-jwt
drf-yasg
python-dotenv
psycopg2
Pillow
django-nested-admin